<div class="msgCollection">
    <div class="msgCont">
        <p>
            <%= params.message.content %>
        </p>
        <div>
            <%= params.message.name%>
        </div>
        <div>
            <%= params.message.time%>
        </div>
        <form action="/">
            <button type"submit">Home</button>
        </form>
        <%= params.message.id %>
        <form action=<%=`/delete/${params.message.id}`%>>
            <button class="deleteBtn" type"submit">delete</button>
        </form>

    </div>
</div>
